body {
    font-family: 'Times New Roman', Times, serif;
    margin: 10;
    padding: 10;
    background-color: hsl(0, 19%, 72%);
    background-image: url("./images/potfolio.jpg");
    background-size: 80% auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around;  */
}

section {
    flex: 2;
    max-width: 353px;
    margin: 24px;
    margin-top:45px;
    padding: 12px;
    background-color: #ffffffcb;
    box-shadow: 0 0 10px rgba(32, 1, 1, 0.1);
    max-height: max-content;
}

header {
    background-color: hsla(180, 4%, 30%, 0.939);
    color: #fff;
    text-align: center;
    padding: 0em ;
    margin-top: px;
}

h1, h2, h3 {
    color: #9f2b0b;
}

h3 {
    color: #c4cfce;
    font-size: 23px;
}

p {
    line-height: 1.6;
    color: #110303;
}

ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #00050678;
    color: #fff;
    text-align: center;
    padding: 0em 0;
    opacity: 0.8;
    align-content: left 4px;
    font-size: 13px;
}

.h1color {
    color: rgba(156, 16, 16, 0.665);
    font-size: 37px;
}
